* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
body {
    background: #1A1A1A;
}
h1, h2, h3, h4, span, li, header, label {
    color:#31E1BD;
}
button {
    color:white;
    background-color: #20947C;
    border-color: #20947C;
    height: 90px;
    width: 100px;
}
p {
    color: #E85971;
}
#quizBox {
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
}
#outerdiv {
    position: relative;
    top: 15vh;
    height: 600px;
    width: 500px;
}
#innerdiv {
    height:200px;
    position: relative;
    bottom:80px;
}

ol {
    display:flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
}

div {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#answers {
    display:flex;
    position: relative;
    bottom: 0px;
    left:-20px;
    flex-direction: row;
    width: auto;

}
#show {
    position:relative;
    top: -200px;
}

#scoreboard {
    display:block;
    position:relative;
    top:200px;
}
#return{
    position: relative;
    top: -100px;
}
#scorelist {
    display:flex;
    justify-content: center;
    flex-direction: column;
    display:flex;
}